:root {
  --softPurple: rgb(145, 60, 145);
  --bgPurple: rgb(248, 227, 248);
  --offWhite: rgb(255, 249, 214);
  --offBlack: rgb(56, 56, 56);
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bgPurple);
}

.titleCard {
  display: grid;
  width: 80%;
  margin: 0 auto;
  background-color:var(--offWhite)
}

.titleCard > *{
  justify-self: center;
}

.purpleButt {
  display:block;
  width:fit-content;
  border-radius: .25em;
  background-color: var(--softPurple);
  color: var(--offWhite);
  padding: 1em;
  box-sizing: border-box;
}

.purpleButt:hover {
  color: var(--softPurple);
  background-color: var(--bgPurple);
  cursor: pointer;
}

.questionCard {
  margin: 0 auto;
  width: 80%;
  background-color:var(--offWhite);
  padding: 1em;
  border-radius:1em;
  box-sizing: border-box;
}
.bubbles {
  width: 80%;
  margin: 0 auto;
  display:grid;
}
.bubbles form {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: center;
}
.styledRadioButton {
  height: 2em;
  width: 2em;
  border: .15em solid var(--softPurple);
  margin-left:1em;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.selected {
  width: 80%;
  height: 80%;
  background-color: var(--softPurple);
  border-radius: 50%;
  align-self: center;
  display:none;
}

.styledRadioButton input {
  display: none;
}

.styledRadioButton input:checked+ .selected {
  display: inline-block;
}

.strongFeeling {
  width: calc(2em*1.5);
  height: calc(2em*1.5);
}

.weakFeeling {
  width: calc(2em*1.25);
  height: calc(2em*1.25);
}
.guideText {
  font-weight: bold;
  color:var(--offBlack);
}
#nextButton {
  margin-top:3em;
  justify-self: end;
}
.answerCard {
  background-color: var(--offWhite);
  margin:0 auto;
  display:grid;
  justify-content:center;
  width: 70%;
  padding: 2em;
  border-radius: 1em;
}
.hidden {
  display: none;
}